<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}?v={{ with os.Stat "static/favicon.png" }}{{ .Size }}{{ else }}1{{ end }}">
  <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}?v={{ with os.Stat "static/apple-touch-icon.png" }}{{ .Size }}{{ else }}1{{ end }}">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;600&family=Open+Sans:wght@300;400;600;700&display=swap">
  {{ with .OutputFormats.Get "rss" -}}
  <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .RelPermalink }}">
  {{- end }}
</head>
